<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Blog :: Home</title>
</head>
<body>
<div class="container">
    <h1>Spring Boot Blog Application</h1>
    <hr/>
    <ul>
        <li><a th:href="@{/posts/new}">New Post</a></li>
    </ul>
    <div class="posts-container">
        <div class="post" th:each="post : ${posts}">
            <h2><a th:href="@{'/posts/' + ${post.id}}" th:text="${post.title}">Title</a></h2>
            <h5 th:text="'Published at ' + ${post.createdAt}">Created At</h5>
            <p th:text="${post.body}">body text</p>
            <br>
        </div>
    </div>
    <hr/>
</div>

</body>
</html>